body {
    background: rgba(178,218,255,1);
    background: -moz-linear-gradient(-45deg, rgba(178,218,255,1) 0%, rgba(130,190,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(178,218,255,1)), color-stop(100%, rgba(130,190,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(178,218,255,1) 0%, rgba(130,190,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(178,218,255,1) 0%, rgba(130,190,255,1) 100%);
    /*background: -ms-linear-gradient(-45deg, rgba(178,218,255,1) 0%, rgba(130,190,255,1) 100%);*/
    background: linear-gradient(135deg, rgba(178,218,255,1) 0%, rgba(130,190,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2daff', endColorstr='#82beff', GradientType=1 );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-inverse {
    border-radius: 0 !important;
}

a.navbar-brand h3 {
    margin: 0;
    position: relative;
    top: -3px;
}

.buttonPadding {
    padding: 6px 15px;
}

.ddlPadding {
    padding: 3px 0;
}

h1#filterToggle {
    margin: 20px auto;
    cursor: pointer;
    font-weight: bold;
}

.col-md-12 .col-md-2 .btn.btn-info.btn-lg {
    padding: 10px 50px;
    position: relative;
    top: 50px;
}

.col-md-12 .btn.btn-lg.btn-primary.pull-right + .btn.btn-info.btn-lg {
    padding: 10px 50px;
    margin-right: 10px;
}

.searchFilterContainer {
    width: 25%;
    float: left;
    margin-bottom: 20px;
}

    .searchFilterContainer table {
        padding-left: 50px;
    }

    .searchFilterContainer span {
        font-weight: bold;
        font-size: 26px !important;
    }

    .searchFilterContainer .col-md-12 span {
        width: 100%;
        float: left;
        font-size: 22px !important;
    }

    .searchFilterContainer input[type="text"] {
        width: 100%;
        text-align: center;
        padding: 5px 0;
        font-size: 20px;
        max-height: 34px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .searchFilterContainer input[disabled] {
        color: blue !important;
    }

    .searchFilterContainer input[type="submit"] {
        margin: 10px 0 0 0;
    }

.recapContainer {
    width: 25%;
    float: left;
    margin-bottom: 20px;
}

    .recapContainer table {
        padding-left: 50px;
    }

    .recapContainer span {
        font-weight: bold;
        font-size: 26px !important;
    }

    .recapContainer .col-md-12 span {
        width: 100%;
        float: left;
        font-size: 22px !important;
    }

    .recapContainer input[type="text"] {
        width: 100%;
        text-align: center;
        padding: 5px 0;
        font-size: 20px;
        max-height: 34px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .recapContainer input[disabled] {
        color: blue !important;
    }

    .recapContainer input[type="submit"] {
        margin: 10px 0 0 0;
    }

#txtMedia {
    background: white;
    margin-bottom: 20px;
    font-size: 24px;
    color: blue;
}

#btnSvuotaTxt {
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(200, 200, 200, 0.75);
    transition: all 0.3s ease-in;
}

    #btnSvuotaTxt:hover {
        color: #FFF;
        background: #4A3C8C;
        cursor: pointer;
    }

    #btnSvuotaTxt:active {
        -webkit-box-shadow: inset 5px 3px 5px rgba(50, 50, 50, 0.75);
        box-shadow: inset 5px 3px 5px rgba(50, 50, 50, 0.75);
    }

table.table-striped {
    font-size: 20px;
}

    table.table-striped th {
        text-align: center !important;
    }

.pagination-container td table {
    margin: 0 auto;
    border: none !important;
}

    .pagination-container td table tr td {
        position: relative;
        float: left;
        padding: 6px 15px;
        margin-right: 5px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

        .pagination-container td table tr td:hover,
        .pagination-container td table tr td:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

h1 {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.panel li:first-child,
#body_grdGruppi {
    margin-top: 10px;
}

input.form-control,
textarea.form-control,
select.form-control,
.btn-primary.btn-lg.pull-right {
    margin-bottom: 10px;
}

#body_lblIsGruppoInserito {
    position: relative;
    top: 10px;
    right: 10px;
}

.panel-body {
    min-height: 130px;
}

.boldItem {
    font-weight: bold;
    font-size: 20px;
}

.panel.panel-default div.panel-body {
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

span.form-control {
    border: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    left: -10px;
}

.form-control:focus {
    border-color: red !important;
    border-width: 2px !important;
}

.compGruppoFixed {
    position: fixed !important;
    right: 0;
    padding-left: 5px !important;
}

#body_pnlMascheraMaterialiDaDDT input[type="submit"] {
    position: relative;
    top: 0px;
}
#body_pnlMascheraMaterialiDaDDT span.pull-right{
    position: relative;
    top: -4px;
}